{
	"android": {
		"debug": {
			"keystore": "<keystore.jks>",
			"storePassword": "<storePassword>",
			"alias": "<alias>",
			"password" : "<password>",
			"keystoreType": "PKCS12",
			"packageType": "apk"
		},
		"release": {
			"keystore": "<keystore.jks>",
			"storePassword": "<storePassword>",
			"alias": "<alias>",
			"password" : "<password>",
			"keystoreType": "PKCS12",
			"packageType": "bundle"
		}
	}
}