{
	"android": {
		"debug": {
			"keystore": "<keystore.jks>",
			"storePassword": "<storePassword>",
			"alias": "<alias>",
			"password" : "<password>",
			"keystoreType": "PKCS12",
			"packageType": "apk"
		},
		"release": {
			"keystore": "keys/release-keystore.jks",
			"storePassword": "<storePassword>",
			"alias": "conceal-mobile",
			"password": "<password>",
			"keystoreType": "PKCS12",
			"packageType": "apk"
		}
	}
}