<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ConcealNetwork.ConcealMobile" version="4.0.0" android-versionCode="41" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>Conceal Mobile</name>
	<description>
		THE SIMPLEST WAY TO USE CONCEAL, ANYWHERE AND ANY TIME
	</description>
	<author email="ccx@conceal.network" href="https://conceal.network">
		Conceal Network
	</author>
	<content src="index.html" />

	<!-- Access -->
	<access origin="*" />
	<allow-intent href="http://*/*" />
	<allow-intent href="https://*/*" />

	<!-- Android Preferences -->
	<platform name="android">
		<!-- Permissions -->
		<allow-intent href="market:*"/>
		<edit-config file="AndroidManifest.xml" mode="merge" target="/manifest/uses-permission">
		</edit-config>
		<!-- Preferences -->
		<preference name="android-targetSdkVersion" value="33"/>
		<preference name="AndroidXEnabled" value="true" />
		<preference name="scheme" value="https" />
		<preference name="hostname" value="wallet.conceal.network" />
    <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/screen/android/splashscreen.xml" />
    <preference name="AndroidWindowSplashScreenBackground" value="#333333" />
		<preference name="Fullscreen" value="false"/>
		<preference name="StatusBarOverlaysWebView" value="false" />
		<preference name="StatusBarBackgroundColor" value="#111111"/>
		<preference name="StatusBarStyle" value="lightcontent"/>
		<preference name="NavigationBarBackgroundColor" value="#111111"/>
		<preference name="NavigationBarLight" value="false"/>
		<!-- Icons -->
		<resource-file src="res/values/colors.xml" target="/app/src/main/res/values/colors.xml"/>
		<icon background="@color/background" density="ldpi" foreground="res/icon/android/ldpi-foreground.png" />
		<icon background="@color/background" density="mdpi" foreground="res/icon/android/mdpi-foreground.png" />
		<icon background="@color/background" density="hdpi" foreground="res/icon/android/hdpi-foreground.png" />
		<icon background="@color/background" density="xhdpi" foreground="res/icon/android/xhdpi-foreground.png" />
		<icon background="@color/background" density="xxhdpi" foreground="res/icon/android/xxhdpi-foreground.png" />
		<icon background="@color/background" density="xxxhdpi" foreground="res/icon/android/xxxhdpi-foreground.png" />
	</platform>

</widget>
